<% if @user.id != 1 %>
  <h3><a href="#" class="js-previous-user" data-id="<%= @user.id %>">Previous User</a> | </h3>
  <% else %>
  <h3><%= link_to 'Back', users_index_path %> | <a href="#" class="js-next-user" data-id="<%= @user.id %>">Next User</a></h3>
<% end %>
