<h1>Welcome to GameView!</h1>

<h3><%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %></h3>
<h4><%= link_to('or Log in with Facebook', 'users/auth/facebook') %></h4>


  <img src="reflection-pad-gaming-gamepad.jpg" class="img-responsive">

  <br><br/>

  <h4>Catalog the video games you own, review them, and more!</h4>
